* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .body {
    height: 100%;
    width: 100%;
    background-color: #007bff;
    /* min-height: 100vh; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .loader {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 5px 5px 0 #fedcba, 
      -5px 5px 0 red, 
      5px -5px 0 blue;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  } */
  
  .loading {
    background: #abcdef;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: pulse 1s linear infinite;  
  }
  
  @keyframes pulse {
    0% { 
        transform: scale(1);
      }
      10% { 
        transform: scale(1.1);
      }
    20% { 
        transform: scale(0.9);
      }
    30% { 
        transform: scale(1.1);
      }
      40% { 
        transform: scale(0.9);
      }
    50% { 
        transform: scale(1.1);
      }
      75% { 
        transform: scale(0.9);
      }
    100% { 
        transform: scale(1);
      }
  }
  
  .loading::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: -12px;
    top: -12px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 1s linear infinite;
  }
  .loading::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: -12px;
    top: -12px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border-left: 4px solid #FFFFFF;
    border-bottom: 4px solid transparent;
    animation: rotation 1s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 